[flake8]
max-line-length = 120
exclude = docs/src, build, dist, .venv, venv, env
ignore = F811,E121,E123,E126,E226,E24,E704,W503,W504,E203
per-file-ignores =
    test/examples/test_sensor_fusion.py:E128
    funsor/ops/__init__.py:F401,F403
    funsor/jax/distributions.py:F821
    funsor/torch/distributions.py:F821
    test/conftest.py:E402
