name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  default:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']
    env:
      CI: 1
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt install -y pandoc
        python -m pip install --upgrade pip
        # Keep track of pyro-api master branch
        pip install https://github.com/pyro-ppl/pyro-api/archive/master.zip
        pip install .[test]
        pip freeze
    - name: Run test
      run: make test


  torch:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
    env:
      CI: 1
      FUNSOR_BACKEND: torch
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Keep track of pyro-api master branch
        pip install https://github.com/pyro-ppl/pyro-api/archive/master.zip
        pip install torch==1.9.0+cpu torchvision==0.10.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
        # Keep track of Pyro master branch
        pip install https://github.com/pyro-ppl/pyro/archive/master.zip
        pip install .[test,torch]
        pip freeze
    - name: Run test
      run: make test


  jax:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
    env:
      CI: 1
      FUNSOR_BACKEND: jax
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Keep track of pyro-api master branch
        pip install https://github.com/pyro-ppl/pyro-api/archive/master.zip
        # Keep track of NumPyro master branch
        pip install https://github.com/pyro-ppl/numpyro/archive/master.zip
        pip install .[test,jax]
        pip freeze
    - name: Run test
      run: make test
